.bread_crumbs
  margin 0 0 10px

  &__item
    padding: 2px 8px;
    border-radius: 3px;
    background-color: color_gray
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin: 0 5px 0 0;

  &__item.active, &__item:hover
    text-decoration: none;
    color: #ffffff;
    background-color: color_main;
