.el-menu
  background-color color_bg

.el-menu--popup-bottom-start
  margin-top 1px

.el-menu--popup
  padding 0 0 5px

.menu_top
  color #fff
  background-color color_bg
  border none !important
  margin 0
  padding 0
  font-size 0

  .el-menu-item
    background-color color_bg !important

  &__hr
    margin 0
    border-bottom 1px solid color_gray


  .el-submenu.is-active .el-submenu__title
    background-color color_bg_hover !important
    //border-bottom 3px solid color_main_red_focus

  &__a, .el-submenu__title
    background-color color_bg !important
    color #fff
    padding 0 18px
    text-decoration none
    display block

  &__a:hover, .el-submenu__title:hover, .is-opened
    background-color color_bg_hover !important
    text-decoration none

  &__deal_add:hover
    background color_bg_hover

  &__deal_add
    padding 10px
    line-height 30px
    i
      color #fff

  .el-submenu__title:hover

  .el-submenu__title, .el-menu-item
    font-size 15px
    cursor pointer !important
    color #fff !important
    height 50px !important
    line-height 50px !important
    padding 0 10px !important

  .el-menu-item
    padding 0 !important

  .el-submenu

    &__title
      i
        color #fff !important

  .float_right
    left auto
    right 0
    float right

  .router-link-active
    color #fff
    background-color color_bg_hover

.el-menu--horizontal .el-menu .el-menu-item
  height 30px !important
  line-height 30px !important
  padding 0 !important

  .menu_top__a
    padding 0 10px !important

    i
      color #fff


