.model_filter
  display: inline-block;
  width: 100%;
  padding: 0 0 5px;

  &__item
    margin 0 5px 5px 0
    padding 0 5px 0 0
    display inline-block
    text-align right
    vertical-align top

  &__label
    display block
    padding 0 2px 2px
    font-size 13px
    text-align left

  &__filter
    width 100%
    text-align left
    margin 0
    padding 0

  .el-input__inner
    margin 0
    width 225px !important

  .select2-container
    margin 3px 5px 5px 0
    font-size 15px

  .select2-container--default .select2-selection--single
    height 26px