.paging
  text-align center
  border-bottom: 1px solid color_border
  padding 5px 0 10px

  &__item
    cursor pointer
    color #000
    padding: 2px 8px;
    text-align: center;
    display: inline-block;
    border-radius 2px

  &__item:hover
    color #fff
    background-color color_main_red

  &__active
    color #fff
    background-color color_main