@import '../abstracts/colors.styl'

*
  margin 0
  padding 0

body
  background-color color_background
  font-family Arial


.main-content
  background-color color_gray_lite

label
  margin 0

h1
  font-size: 28px;
  padding: 0 10px 5px 0;
  font-weight: normal;

h2
  @extend h1
  font-size: 24px;

h3
  @extend h1
  font-size: 22px;

.nowrap
  white-space nowrap

.small
  font-size 13px
  line-height 14px

.small
  font-size 13px
  line-height 14px

.clearfix
  float none
  margin auto

  &::after
    display block
    content ""
    clear both

.inline-block
  display inline-block

.hidden
  display none

.alarm
  background-color #ffaaaa

.alarm:hover
  background-color #ffaaaa

.btn
  border none
  //text-shadow 1px 1px 3px #808080

  &__green
    border none
    background-color #12a36a
    color #fff

.wide
  width 100%

.loading
  height 50px
  width 100%
  text-align center
  background url(/static/images/preloader.gif) no-repeat center
  background-color #fff

.border-top
  border-top 1px solid color_border

.border-bottom
  border-bottom 1px solid color_border

.border-left
  border-left 1px solid color_border

.inner-border-top
  box-shadow inset 0 1px color_border

.float-left
  float left

.float-right
  float right

.text-right
  text-align right

.text-left
  text-align left

.margin-right-10
  margin-right 10px