.login-container

  &__block
    margin: 200px auto 0;
    width: 380px;
    border: 1px solid color_border;

  &__header
    background-color color_main_gray
    padding 15px
    font-size 18px
    font-weight bold
    color #ffffff

  &__form
    background-color color_gray_lite
    padding-top 15px

    .errorlist
      color color_main_red_focus
      font-size: 15px;
      padding: 0 0 15px;

      li
        margin 0 25px

  p
    padding 5px 16px

    label
      display inline-block
      float left
      width 160px
      text-align right
      padding 3px 10px 0 0

    input
      padding: 3px 5px;
      width: 160px;

  &__footer
    padding: 15px 20px;
    text-align: right;

    input[type=submit]
      padding: 5px 20px;