.mlm-agent

  &__person
    cursor pointer
    border-top 1px solid color_border
    border-bottom 1px solid color_border
    padding 5px 10px 10px
    margin 0

    &__title
      font-size 20px

      .el-icon
        float right
        font-weight normal
        padding 5px

    &__item
      font-size 15px
      padding 5px 0 0

  &__person:hover
    background-color #fff


  &__agent
    cursor pointer
    border-bottom 1px solid color_border
    padding 5px 10px 10px
    margin 0

      .el-icon
        float right
        font-weight normal
        padding 5px

    &__item
      font-size 15px
      padding 5px 0 0

  &__agent:hover
    background-color #fff

  &__balance
    padding 5px 10px
    margin 0 0 10px

    &__item
      font-size 15px
      padding 5px 0 0

  .el-tabs--border-card
    box-shadow unset

    .directory
      &__buttons
        padding 0 0 5px

      &__total
        float left
        font-size 14px
        padding 10px 0 0