* {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

@media screen {
    body {
        border: 1px solid #f00;
    }
}

@media print {
    @page {
        size: A4 portrait;
        margin: 5mm 5mm;
    }
}

body {
    font-family: Arial;
    width: 200mm;
    vertical-align: top;
    margin: 0 auto;
}

.content {
    margin: 15px 20px;
}

h1 {
    font-size: 18px;
    text-align: center;
    padding: 0 0 5px;
}

h2 {
    font-size: 14px;
    padding: 0 0 5px;
}

h3 {
    font-size: 13px;
    padding: 5px 0;
}

