color_background = #dadada

//#03899C	#1F6B75	#015965	#36BBCE	#5FC0CE
color_bg = #4e4e4e
color_bg_hover = #ab2524
color_bg_lite = #878787
color_bg_lite_hover = #e0e9ea

//color_bg = #4ea4ca
//color_bg_hover = #5bbee7

color_main = #1a1a1a
color_main_gray = #5a5a5a
color_main_ligth = #7a7a7a
color_main_red = #ab2524 //#ee0200
color_main_red_focus = #c00200
color_main_red_lite = #ffd3d3
color_border = #cacaca
color_red = #d66262
color_blue = #0074c0
color_blue_lite = #bcdcff

color_gray = #ececec
color_gray_middle = #e0e0e0
color_gray_dark = #aaaaaa
color_gray_lite = #f5f5f5
color_green = #5cc777
color_green_light = #a7e4cc
color_green_dark = #1f8d3b

color_lightseagreen = #19a3c7