<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">


<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <title>absolutum</title>
</head>

<body>

<div id="app"></div>
<!--script type="text/javascript" src="/static/build/build.js"></script-->
<script type="text/javascript" src="/static/dist/js/runtime.bundle.js"></script>
<script type="text/javascript" src="/static/dist/js/1.chunk.js"></script>
<script type="text/javascript" src="/static/dist/js/2.chunk.js"></script>

</body>
</html>
