{% if not template_slice %}
  {% extends 'inside/index.jinja2' %}
{% endif %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/login.css"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>CRM: Правка</title>
  </head>

  <div class="container login-container">
    <div class="login-container__block">
      <div class="login-container__header">Авторизация</div>
      <form class="login-container__form" method="post" action="{{ url('identity:login') }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p() }}
        <div class="login-container__footer">
          <a class="login-container__recover" href="{{ url('identity:recover') }}">Восстановить пароль</a>
          <input type="submit" value="Войти"/>
        </div>
        <!--a class="login-container__registration" href="">
          Регистрация в партнерской программе
        </a-->
      </form>

{#      <a class="login-container__support" href="mailto:admin@pravkaatlanta.ru">Тех.поддержка</a>#}
      <a class="login-container__support" href="mailto:tayursky@gmail.com">Тех.поддержка</a>
    </div>
  </div>


{% endblock content %}