<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/online.css"/>
  <!--link rel="shortcut icon" href="/static/images/favicon.ico"-->
  <title>Онлайн запись</title>
</head>

<body class="online-container__done">
<div class="online-container__ok">
  <div class="online-container__ok__title">Благодарим Вас за доверие к методу «Правка»!</div>
  В ближайшее время мы свяжемся с Вами и подтвердим заявку.
</div>

</body>

</html>