{% if not template_slice %}
  {% extends 'inside/index.jinja2' %}
{% endif %}

{% block content %}

  {% if not agent.offer_accepted %}
    <div class="recommend">
      Ознакомьтесь и примите договор-оферту.
    </div>
  {% endif %}

  <h3 class="mlm_account_title">ДОГОВОР — ОФЕРТА (СОГЛАШЕНИЕ) о сотрудничестве с ООО «ПРАВКА»</h3>

  <div class="mlm_account">
    <p class="help_p">Дата размещения 20 декабря 2019 года</p>

    <p>Настоящая публичная Оферта (в дальнейшем — Договор или Соглашение) является официальным предложением ООО «ПРАВКА»
      (далее по тексту – Исполнитель) в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ
      в адрес
      любого физического лица, обладающего дееспособностью и необходимым полномочием заключить с ООО «ПРАВКА»  договор
      сотрудничества на условиях, определенных в настоящей оферте, и содержит все существенные условия договора.
    <p>Текст настоящего Договора-оферты (далее по тексту - Договор/Оферта/Договор-оферта/Договор оказания
      услуг/Соглашение)
      расположен по адресу: www.crm.pravka.ru
    <p>При использовании данного Сайта, участии в бонусной программе или раскрытии любой персональной информации: а)
      Агент
      подтверждает, что прочитал и понял условия настоящего Соглашения, б) Агент принимает и соглашается соблюдать
      условия
      настоящего Соглашения, и в) Агент принимает и соглашается исполнять все законы и нормы, касающиеся предмета
      настоящего Соглашения.
    <p>Условия использования, содержащиеся в настоящем Соглашении, могут периодически меняться, а также могут быть
      пересмотрены в любой момент времени по усмотрению Исполнителя путем обновления данной публикации. Необходимо время
      от времени посещать данную страницу для ознакомления с действующими на конкретный момент времени условиями
      использования, потому что они распространяются на Агента. Продолжение использования Сайта рассматривается как
      принятие любых изменений или модификаций настоящего Соглашения. Если какие-либо модификации окажутся
      неприемлемыми,
      Агент сможет только разорвать настоящее Соглашение, связавшись с службой поддержки Исполнителя. Некоторые нормы
      условий использования, содержащиеся в Соглашении, могут быть аннулированы требованиями закона или условиями,
      указанными на специальных страницах Сайта.
    <p>При использовании Сайта Исполнителя или участии в бонусной программе, Агент заявляет и соглашается, что ему уже
      исполнилось 18 лет, он является полностью дееспособным человеком и обладает нужными знаниями для понимания
      условий,
      норм, утверждений и гарантий, изложенных в настоящем Соглашении и условиях любой программы. Если Агенту еще нет 18
      лет, он не имеет права пользоваться Сайтом и принимать участие в бонусной программе.
      Агент соглашается использовать Сайт в законных целях, а также соглашается нести ответственность за использование
      Сайта и коммуникации на сайте, соглашается не публиковать и не передавать с помощью Сайта любые незаконные,
      нарушающие авторские права, клеветнические, непристойные, нецензурные, угрожающие, оскорбительные или другие
      неподобающие материалы любого рода, включая любые материалы, призывающие к незаконному поведению или поведению,
      которое ведет к гражданско-правовой ответственности, нарушению чьей-либо интеллектуальной собственности или другим
      нарушениям любого действующего местного, национального или международного закона. Агент соглашается не
      использовать
      Сайт образом, противоречащим его нормальной работе или нарушающим любые прочие варианты использования Сайта.

    <p>Определения, используемые в настоящем Договоре
    <p>Применяемые в настоящем Договоре термины и определения используются в следующем их значении:
    <p>Исполнитель — ООО «ПРАВКА», оказывающий физкультурно-оздоровительные / медицинские услуги неограниченному кругу
      лиц.
    <p>Клиент (Заказчик) — физическое лицо, имеющее намерение получить услугу у Исполнителя и/или заключивший договор с
      Исполнителем и оплативший его услуги.
    <p>Агент — лицо, зарегистрировавшееся на сайте Исполнителя, принимающее все условия настоящего договора оферты
      (Соглашения) и намеревающееся осуществлять продвижение услуг Исполнителя в соответствии с правилами и условиями
      настоящего Соглашения на возмездной основе.
    <p>Клуб — медицинский центр и/или любое иное арендуемое Исполнителем помещение, которое будет использоваться в целях
      оказания услуг.
    <p>Бонусная программа — комплекс мероприятий (совместных действий) Агента и Исполнителя, направленных на продвижение
      (рекламирование) услуг, оказываемых Исполнителем, и привлечение третьих лиц для приобретения таких услуг.
    <p>Договор – возмездный договор на оказание физкультурно-оздоровительных / медицинских услуг, который заключается
      посредством присоединения и принятия Клиентом (Заказчиком) условий, устанавливаемых Исполнителем.
    <p>Бонус (вознаграждение) – вознаграждение, начисляемое Агенту за привлечение нового клиента в Клуб при условии
      приобретения таким клиентом услуги Исполнителя либо за приобретение услуг действующим клиентом при условии, что в
      любом из названных случаев клиентом будет указан промокод Агента. 1 бонус эквивалентен 1 рублю.
      В случае отсутствия толкования термина в тексте Оферты следует руководствоваться толкованием термина,
      определенным:
      в первую очередь — законодательством РФ, во вторую очередь — сложившимся (общеупотребимым) в сети Интернет.

    <p>1. ПРЕДМЕТ ДОГОВОРА-ОФЕРТЫ

    <p>1.1. Предметом настоящего договора-оферты является взаимовыгодное сотрудничество Агента и Исполнителя,
      направленное
      на продвижение (рекламирование) услуг, оказываемых Исполнителем, и привлечение третьих лиц для приобретения таких
      услуг в соответствии с условиями настоящей публичной оферты, в соответствии с действующим законодательством,
      действующими на момент заключения договора-оферты Правилами оказания платных услуг, другими локальными актами,
      утверждёнными Исполнителем.
    <p>1.2. Публичная оферта, Правила оказания платных услуг, перечень услуг, прейскурант являются официальными
      документами
      Исполнителя, содержат полный перечень услуг, оказание которых возможно в рамках настоящего Договора, и порядок их
      оказания, публикуются на сайте Исполнителя, а также располагаются в общедоступном для ознакомления месте на
      территории клуба.
    <p>1.3. Исполнитель имеет право изменять и дополнять данный договор и Приложения к нему без предварительного
      согласования с Агентом, обеспечивая при этом публикацию изменений и дополнений на сайте Исполнителя, не менее чем
      за
      один день до вступления их в силу.

    <p>2. ПРАВА И ОБЯЗАННОСТИ ИСПОЛНИТЕЛЯ

    <p>2.1. Исполнитель обязан:
    <p>2.1.1. Сохранять конфиденциальность информации Агента, полученной от него при регистрации, за исключением
      случаев,
      предусмотренных действующим законодательством Российской Федерации.
    <p>2.1.2. Принимать своевременные меры по предупреждению и регулированию нарушения качества предоставляемых услуг.
    <p>2.1.3 Вести учет клиентов, привлеченных агентом в Клуб, и производить начисление бонусных баллов (бонусов) в
      соответствии с условиями настоящей оферты.
    <p>2.2. Исполнитель вправе
    <p>2.2.1. Приостановить или заблокировать промокод Агента и/или изменить процент вознаграждения Агента в порядке и
      случаях, предусмотренных настоящим Соглашением.

    <p>3. ПРАВА И ОБЯЗАННОСТИ АГЕНТА

    <p>3.1. Агент обязан:
    <p>3.1.1 Пройти соответствующую процедуру регистрации на сайте Исполнителя: заполнить анкетные данные, предоставить
      контактную информацию, ознакомиться с правилами клуба. Прохождение регистрации (создание аккаунта) означает
      согласие
      Агента предоставить точную, достоверную, полную и актуальную информацию о себе при запросе Сайта и немедленно
      обновлять данную информацию для поддержания ее точности, достоверности, полноты и актуальности. Если Агент
      предоставит любую неточную, ложную, неполную или устаревшую информацию, либо Исполнитель по своему собственному
      усмотрению посчитает эту информацию неточной, ложной, неполной или устаревшей, Исполнитель оставляет за собой
      право
      приостановить или удалить аккаунт Агента и наложить запрет на любое текущее и будущее использование им Сайта или
      любой его части. Во время процесса регистрации Агент должен будет создать имя пользователя и пароль. Агент несет
      ответственность за сохранение конфиденциальности своего аккаунта и пароля и несет полную ответственность за любые
      действия, совершаемые с его аккаунтом и паролем. Агент соглашается незамедлительно сообщать Исполнителю о любом
      несанкционированном доступе к его аккаунту или паролю или о других нарушениях безопасности и выполнять выход из
      аккаунта по окончанию каждой сессии. Агент соглашается нести ответственность за любые расходы, вытекающие из
      использования его аккаунта на Сайте, включая расходы, вытекающие из несанкционированного доступа к его аккаунту.
      Исполнитель не несет ответственности за любые потери или ущерб, возникающие вследствие неспособности Агента
      соблюсти
      требования данного раздела.
    <p>3.1.2. Претендовать на начисление бонусных баллов (бонусов) могут только зарегистрированные Агенты, при этом
      Агент
      вправе зарегистрироваться на сайте только 1(один) раз, т.е. может иметь только один Личный кабинет (аккаунт) и
      один
      промокод.
    <p>3.1.3. Агент, зарегистрировавшийся на сайте, получает индивидуальную идентификацию путем предоставления логина
      и пароля, а также присвоением индивидуального промокода и ссылки для его использования. Индивидуальная
      идентификация
      Агента позволяет избежать несанкционированных действий третьих лиц от имени Агента. Передача Агентом логина
      и пароля
      третьим лицам запрещена. Агент самостоятельно несёт ответственность за все возможные негативные последствия,
      в случае передачи логина и пароля третьим лицам.
    <p>3.1.4 Агент должен соблюдать условия настоящего Соглашения. Несоблюдение этого Соглашения может привести к
      удалению
      его учетной записи в бонусной программе.

    <p>3.2. Агент вправе:
    <p>3.2.1. Получать необходимую и достоверную информацию о работе Исполнителя и оказываемых услугах.
    <p>3.2.2. Направлять Исполнителю свои мнения, предложения и рекомендации по каждому виду услуг.
    <p>3.2.3 Осуществлять рекламирование услуг, оказываемых Исполнителем третьим лицам, предоставлять им необходимую
      информацию, получать бонусные баллы (бонусы) в соответствии с условиями настоящей оферты.

    <p>4. ПОРЯДОК И УСЛОВИЯ НАЧИСЛЕНИЯ БОНУСОВ И ИХ ПОСЛЕДУЮЩЕГО ИСПОЛЬЗОВАНИЯ

    <p>4.1. За каждую сумму оплаты, поступившую Исполнителю за оказание услуг от привлеченного или уже действующего
      клиента
      при условии указания им соответствующего промокода, Агенту начисляются бонусные баллы в соответствии с условиями
      настоящего Соглашения. Начисление и последующий учет бонусных баллов, их списание осуществляется в личном кабинете
      Агента. Клиент считается привлеченным определенным Агентом в случае, если между клиентом и клубом был заключен
      договор на оказание услуг, клиент указал промокод Агента и оплатил стоимость услуг Исполнителя.
    <p>4.2. Агент вправе обменять бонусные баллы (бонусы) на денежные средства из расчета 1 бонус = 1 рубль при
      накоплении
      не менее 5000 бонусов и не ранее чем через один месяц после даты зачисления первых бонусов. Такой обмен возможен
      путем вывода денежных средств с помощью электронных сервисов не чаще 2 раз в течение календарного месяца. Оплата
      будет произведена в течение 30 дней после того, как Агент выберет вывод средств. Любые бонусные баллы на счете
      Агента, количество которых не достигло необходимого порога для вывода средств, будут перенесены на следующий
      период.
    <p>4.3. Бонусная программа доступна только Агентам, достигшим возраста минимум 18 лет на момент участия. Настоящая
      программа не действует там, где она запрещена или ограничена законом. Участие Агента и использование им промокода
      в
      бонусной программе или ссылки в бонусной программе считается полным и безусловным согласием с настоящим
      Соглашением,
      которое имеет окончательный характер и обязательно к исполнению в отношении всех вопросов, связанных с бонусной
      программой.
    <p>4.4. Бонусные баллы (вознаграждение) начисляются за оплату услуг, произведенную новыми или существующими
      Клиентами,
      которые воспользуются промокодом или ссылкой Агента.
    <p>4.5. После оплаты клиентом услуг Исполнителя с использованием ссылки или промокода Агента и оказания клиенту
      данной
      услуги, Агенту начисляется Вознаграждение (бонусные баллы) в размере 10 % от стоимости заказанных и оплаченных
      клиентом услуг либо в фиксированной сумме в рублях.
    <p>4.6. Исполнитель оставляет за собой право приостановить или заблокировать промокод, а также уменьшить процент
      вознаграждений, если по собственному усмотрению решит, что Агент нарушает любое условий бонусной программы.
      Приостановленные коды не могут использоваться, и по ним не будут начисляться Вознаграждение. По заблокированным
      кодам не начисляются Вознаграждения, а все ожидающие и доступные Вознаграждения обнуляются.
    <p>4.7. Бонусные баллы начисляются на счет Агента в течение 30 дней после оплаты услуг Клиентом. По истечении
      указанного выше 30-дневного периода бонусные баллы станут доступны в аккаунте Агента для их дальнейшего
      использования. Срок действия доступных бонусных баллов составляет 180 дней с момента, когда они стали доступны для
      использования в аккаунте.
    <p>4.8. После использования доступных бонусных баллов соответствующая сумма будет списана с аккаунта Агента. Любые
      бонусные баллы могут списываться в случае, если клиент впоследствии отказывается от ранее оплаченных услуг.
    <p>4.9. Налоговая информация. Агент несет ответственность за любые налоговые обязательства, возникающие в связи с
      любыми Вознаграждениями, которые он накапливает в рамках бонусной программы. Все возникающие в процессе такого
      взаимодействия налоговые обязательства, а также требования действующего законодательства, связанные с
      регулированием
      деятельности, приносящий доход, Агент соблюдает самостоятельно и несет за них ответственность.
    <p>4.10. Исполнитель оставляет за собой право признавать недействительными Вознаграждения, если будет обнаружено,
      что
      данные Вознаграждения были ошибочно начислены на аккаунт Агента, получены обманным путем или в нарушение
      настоящего
      Соглашения.
    <p>4.11. Исполнитель не возлагает на себя ответственность за расхождения, задержки, пропуски, несоответствия или
      ошибки
      при вычислении и начислении Вознаграждений. Решения, принимаемые Исполнителем в отношении бонусной программы,
      являются окончательными, имеют обязывающий характер и не могут оспариваться в отношении любых аспектов.
    <p>4.12. Если Агент зарегистрирует несколько аккаунтов или попытается принять участие в бонусной программе,
      используя
      несколько личностей, Исполнитель по своему усмотрению может дисквалифицировать Агента и удалить любой или все
      подобные аккаунты.
    <p>4.13 Агент не вправе при продвижении услуг Исполнителя:
      использовать жестокие, дискредитирующие материалы и материалы, носящие сексуальный характер, или включать контент,
      подталкивающий на противозаконные действия или предполагающий их
      изменять любой материал или добавлять любую дополнительную информацию, которая может вводить в заблуждение
      покупателей
      размещать на сайте, отображать или иным образом использовать ссылки или контент, который может содержать или иметь
      связь с вредоносным или зловредным кодом, или приложение, которое прямо и ясно не требует одобрения пользователя
      перед загрузкой

    <p>5. ОТВЕТСТВЕННОСТЬ СТОРОН
    <p>5.1. В случае ненадлежащего исполнения договора одной из сторон, повлекшего неблагоприятные последствия для
      другой
      стороны, ответственность наступает согласно действующему законодательству Российской Федерации.
    <p>5.2. Любое нарушение условий бонусной программы и/или настоящего Соглашения будет вести к незамедлительному
      прекращению участия Агента и потере всех накопленных бонусных баллов.

    <p>6. ОБСТОЯТЕЛЬСТВА НЕПРЕОДОЛИМОЙ СИЛЫ

    <p>6.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему
      договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, которые стороны не могли
      предвидеть или предотвратить.

    <p>7. ЗАВЕРЕНИЕ ОБ ОБСТОЯТЕЛЬСТВАХ

    <p>7.1. Заверения Агента, изложенные в настоящем разделе Договора, являются заверениями об обстоятельствах, имеющими
      существенные значение для Исполнителя. Агент соглашается с тем, что Исполнитель полагается на такие заверения при
      заключении и исполнении Договора.
    <p>7.2. Производя Акцепт Оферты, Агент подтверждает и гарантирует Исполнителю, что Агент указал достоверные данные,
      в
      том числе персональные данные при регистрации.
    <p>7.3. Агент дает согласие на обработку Исполнителем персональных данных, указанных при заключении Договора, в том
      числе на совершение Исполнителем действий, предусмотренных п. 3 ст. 3 Федерального закона от 27.07.2006 года №
      152-ФЗ «О персональных данных», любыми способами, для целей заключения и исполнения Договора.
    <p>7.4. Агент: а) полностью ознакомился с условиями Оферты, б) полностью понимает предмет Оферты и Договора, в)
      полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора.

    <p>8. КОНФИДЕНЦИАЛЬНОСТЬ

    <p>8.1. Стороны соглашаются сохранять в тайне и считать конфиденциальным Договор оказания услуг, а также всю
      информацию, полученную одной Стороной от другой Стороны и обозначенную передающей Стороной как конфиденциальная
      информация такой передающей Стороны (далее — «Конфиденциальная информация»), не раскрывать, не разглашать, не
      обнародовать или иным способом не предоставлять такую информацию какой-либо третьей стороне без предварительного
      письменного разрешения Стороны, передающей эту информацию, за исключением случаев, предусмотренных
      законодательством
      Российской Федерации.
    <p>8.2. Каждая из Сторон предпримет все необходимые меры для защиты Конфиденциальной информации с такой же степенью
      тщательности, с какой предпринимает необходимые меры разумное добросовестное лицо. Доступ к Конфиденциальной
      информации будет предоставлен только тем сотрудникам каждой из Сторон, которым он обоснованно необходим для
      выполнения трудовых (служебных) обязанностей, направленных на исполнение настоящего Договора. Каждая из Сторон
      обяжет таких своих сотрудников принять те же обязательства в отношении Конфиденциальной информации, которые
      накладываются настоящим Договором на соответствующую Сторону.
    <p>8.3. Конфиденциальная информация всегда остается собственностью передающей эту информацию Стороны и не должна
      копироваться или иным способом воспроизводиться без предварительного письменного согласия такой передающей
      Стороны.
    <p>8.4. В целях недопущения возможных злоупотреблений при определении объема и содержания Конфиденциальной
      информации,
      обязательство защищать и хранить в секрете Конфиденциальную информацию раскрывшей эту информацию Стороны
      распространяется также на информацию, которая:
      — на момент раскрытия являлась или стала всеобщим достоянием;
      — становится известной принимающей Стороне из источника иного, чем раскрывающая Сторона, без нарушения принимающей
      Стороной условий настоящего Договора;
      — была известна принимающей Стороне до ее раскрытия по Договору.
    <p>8.5. Обязательство сохранять в тайне Конфиденциальную информацию в соответствии с условиями настоящего раздела
      вступает в силу с момента акцепта настоящей Оферты Агентом и остается в силе в течение 3 (трех) лет после
      прекращения действия данного Договора-Оферты по какой-либо причине.

    <p>9. ОТЗЫВ ОФЕРТЫ</p>

    <p>9.1. Отзыв оферты (Договора) может быть осуществлён Исполнителем в любое время. Исполнитель обязуется разместить
      уведомление об отзыве оферты, на своем официальном сайте, с указанием точного времени отзыва оферты, не менее чем
      за 12 часов до факта наступления события отзыва (приостановки) действия Оферты.</p>

    <p>10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>

    <p>10.1. Все споры или разногласия, возникающие между сторонами по настоящему Договору или в связи с ним,
      разрешаются
      путем переговоров или в соответствии с действующим законодательством Российской Федерации. Срок рассмотрения
      претензии – 10 дней.</p>
    <p>10.2. В случае недостижения согласия при разрешении конфликта спор передается на рассмотрение суда по месту
      нахождения Исполнителя.</p>

    <p>
      Исполнитель: ООО «ПРАВКА»<br/>
      Юридический адрес: 109472, г. Москва, Волгоградский проспект, д.164, корпус 2, кв. 89<br/>
      Фактический адрес: 127006, г. Москва, ул. Краснопролетарская д.7, офис 3.<br/>
      ОГРН 1197746597685<br/>
      ИНН 9721087879<br/>
      КПП 772101001<br/>
      Расчетный счет: 40702810810000582044<br/>
      АО «ТИНЬКОФФ БАНК»<br/>
      Юридический адрес банка 123060, Москва, 1-й Волоколамский проезд, д.10, стр. 1<br/>
      Корр.счет банка 30101810145250000974<br/>
      ИНН банка 7710140679<br/>
      БИК банка 044525974</p>

    {% if not agent.offer_accepted %}
      <form class="offer_accept" action="/partner/offer/?accept=true">
        <label for="learn_id" class="offer_accept__accept">Ознакомился
          <input id="learn_id" type="checkbox" name="accept">
        </label>
        <input type="submit" value="Согласен" disabled/>
      </form>
    {% endif %}

  </div>

  <script>
    $('#learn_id').click(function (event) {
      if ($(this).is(":checked")) {
        $('.offer_accept [type=submit]').removeAttr('disabled');
      } else {
        $('.offer_accept [type=submit]').attr('disabled', true);
      }
    });
  </script>

{% endblock content %}
