{% if not template_slice %}
  {% extends 'inside/index.jinja2' %}
{% endif %}

{% block content %}

  <div class="spider_partner_btn" style="border: 1px solid #000; color: #fff">Click</div>

  <div class="spider_partner">
    <div id="myModalBox_partner" class="modal fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">${ title }</h4>
            <button type="button" class="close" @click="hideMenu">×</button>
          </div>

          <div v-if="answer" class="modal-body spider__done">
            <div class="spider__done__title">${ answer }</div>
          </div>

          <div v-else-if="form" class="modal-body">
            <template v-for="field_name in form.ordered_fields">
              <div v-if="!form.fields[field_name].widget.is_hidden"
                   class="form-group" :class="{'has-errors': field_name in form.errors}">

                <div v-if="!form.fields[field_name].widget.is_hidden" class="row">
                  <div class="col-5 form__label" :class="{'required_field': form.fields[field_name]['required']}">
                    ${ form.fields[field_name].label }
                  </div>
                  <div class="col-7">
                    <input v-if="form.fields[field_name].class == 'CharField' ||
                                 form.fields[field_name].class == 'EmailField' ||
                                 form.fields[field_name].class == 'DateField'"
                           v-model="form.data[field_name]"
                           class="form__input"
                           :type="form.fields[field_name].widget.input_type"
                           :required="!!form.fields[field_name]['required']"
                           :placeholder="form.fields[field_name].widget.attrs.placeholder">>
                    <select v-else-if="form.fields[field_name].class == 'ChoiceField'"
                            v-model="form.data[field_name]"
                            class="form__select">
                      <option v-for="item in form.fields[field_name].widget.choices" :value="item.value">
                        ${item.label}
                      </option>
                    </select>
                  </div>
                  <div v-if="field_name in form.errors" class="form-block__errors">
                    <div v-for="error in form.errors[field_name]" class="form-block__errors__item">${ error }</div>
                  </div>
                </div>
                <div v-show="form.errors.length > 0" class="form-block__errors">
                  <div v-for="error in form.errors.__all__" class="form-block__errors__item">${ error }</div>
                </div>
              </div>
            </template>
          </div>

          <div class="modal-footer">
            <button v-if="answer" type="button" class="btn btn-primary" @click="hideMenu">Закрыть</button>
            <button v-else type="button" class="btn btn-primary" @click="showMenu('save')">Отправить заявку</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block bottom_scripts %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/spider.css"/>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    $(spiderPartnerInit);

    function spiderPartnerInit() {
      $('.spider_partner_btn').bind('click', spiderPartnerClick);
    }

    function spiderPartnerClick(clickEvent) {
      spider_partner.btnClick()
    }

    Vue.options.delimiters = ['${', '}'];
    var spider_partner = new Vue({
      el: '.spider_partner',
      data: {
        title: '',
        modalShow: false,
        answer: null,
        form: null,
      },

      computed: {},

      watch: {
        'modalShow': function (value, fromValue) {
          if (value === true) {
            $("#myModalBox_partner").modal('show');
            this.showMenu();
          } else {
            $("#myModalBox_partner").modal('hide');
          }
        },
      },

      mounted() {
        $('#myModal_partner').modal({
          backdrop: 'static',
          keyboard: false
        });

        var keys = {};
        var search = window.location.search.substr(1);
        search.split('&').forEach(function (item) {
          item = item.split('=');
          keys[item[0]] = item[1];
        });
        if (keys['a'] && keys['a'] !== '') {
        }
      },

      methods: {
        btnClick(value) {
          this.modalShow = !this.modalShow
        },
        showMenu(action) {
          let params = {};
          if (action === 'save') {
            params = this.form.data;
          }
          axios
            .get('http://127.0.0.1:8001/spider_partner/', {params: params})
            {#.get('http://crm.pravkaatlanta.ru/spider_partner/', {params: params})#}
            .then(response => {
              this.title = response.data.title;
              this.form = response.data.form;
              this.answer = response.data.answer;
            })
            .catch(error => {
              alert(error);
            })
            .finally(function () {
            });
        },
        hideMenu() {
          this.modalShow = false;
        }
      }
    });
  </script>

{% endblock %}
