.user-group

  .permissions

    &__title
      border-bottom 1px solid color_border

      &__txt
        font-size 20px
        padding 4px 8px

    &__table
      width 100%
      border-collapse collapse
      border-spacing 0

      thead
        td
          font-weight bold
          padding 2px 8px
          border-bottom 1px solid color_border

      &__tr:hover
        background-color #fff

      &__tr
        cursor pointer

      &__td
        padding 2px 8px
        border-bottom 1px solid color_border
