.user_reward

  &__table
    width 100%
    border-collapse collapse
    border-spacing 0

    thead
      td
        font-weight bold
        padding 2px 8px
        border-bottom 1px solid color_border

    &__tr:first-child
      border-top 1px solid color_border

    &__tr
      border-bottom 1px solid color_border

    &__td
      vertical-align top
      padding 2px 8px
      border-bottom 1px solid color_border
